@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,600&display=swap');
/* Arreglos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1250px;
    margin-top: 10px;
}
.menu-btn {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 50%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

.menu-btn span {
    width: 17px;
    height: 2px;
    background: black;
}
img:hover{
cursor: pointer;
}
body{

    display: flex;
    flex-direction: column;
    gap: 70px;
}
/* Sección de Main con las bolas de colores */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    flex-wrap: wrap;
}
.bola-azul{
    background-color: #015aff;
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    text-align: center;

}
.bola-violeta{
    background-color: #b302fe;
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    text-align: center;
    
}
.bola-verde{
    background-color: #00ff43;
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    text-align: center;
}
.bola-roja{
    background-color: #ff2b03;
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    text-align: center;
}
/* Primer footer(el de la landing) */
.falso-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.marcas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
}
/* Footer de la descripción */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    background-color: whitesmoke;
}
.dropdown{
    padding: 20px;
}

.dropdown-menu .dropdown-item:hover{
background-color: #00ff43;
}
/* animaciones de las pelotas */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s ease-out, transform 3s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px;
    background: whitesmoke;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
}

.sidebar ul {
    list-style: none;
    padding: 0;
  }

  .sidebar ul li {
    margin: 20px 0;
  }

.sidebar ul li a {
    text-decoration: none;
    color: grey;
    font-size: 18px;
    font-weight: bold;
}
.sidebar ul li a:hover{
    background-color: #ff2b03;
    border-radius: 5px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: grey;
    border: none;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
}

/* Responsive */

@media (min-width: 320px) and (max-width: 550px){

header{
gap: 50px;
}
.sidebar{
    width: 100px;
}
.marcas{
    justify-content: center;
}
.falso-footer{
    justify-content: center;
    align-items: center;
}
footer{
    gap: 1px;
}
  }
  
  @media (min-width: 551px) and (max-width: 750px){
    header{
        gap: 290px;
        }
    .marcas{
        justify-content: center;
    }
    .falso-footer{
        justify-content: center;
        align-items: center;
    }
    footer{
        gap: 40px;
    }
}
  
  @media (min-width: 751px) and (max-width: 1300px){
    header{
        gap: 530px;
        }
  }